/* 
    Document   : custom-tree.css
    Created on : Apr 3, 2012, 8:57:53 AM
    Author     : John Yeary <jyeary@bluelotussoftware.com>
    Description: Custom CSS for modifying icons on a PrimeFaces tree component.
*/
body {
	margin: 0px;
}

a {
	text-decoration: none;
}

.folder-open {
	background:
		url('#{facesContext.externalContext.requestContextPath}/resources/images/node-select16x16.png')
		!important;
	height: 16px;
	width: 16px;
}

.folder-collapsed {
	background:
		url('#{facesContext.externalContext.requestContextPath}/resources/images/node16x16.png')
		!important;
	height: 16px;
	width: 16px;
}

.document-node {
	background:
		url('#{facesContext.externalContext.requestContextPath}/resources/images/document-node16x16.png')
		!important;
	height: 16px;
	width: 16px;
}

.menux {
	width: 30%;
	height: 100%;
	background-color: white;
	position: fixed;
	left: 0;
	border-right-color: #ccc;
	border-right-width: 2px;
	border-right-style: solid;
}

.contentx {
	width: 70%;
	height: 70%;
	background-color: white;
	position: fixed;
	float: left;
	left: 30%;
	margin: 2px 2px;
}

.contentx iframe {
	width: 100%;
	height: 100%;
	border-style: none;
	
}

.json {
	width: 70%;
	height: 30%;
	background-color: rgb(48, 48, 48);
	position: fixed;
	right: 0;
	bottom: 0;
	float: right;
	padding-left: 13px;
	margin-right: -15px;
	/* border-left-color: #ccc;
border-left-width: 2px;
border-left-style: solid; */
	color: rgb(255, 102, 0);
}

.ui-widget {
	font-size: 1em;
}

.ui-widget-content {
	border: none;
}

.ui-treenode-label.ui-corner-all.ui-state-hover {
	background: rgb(255, 102, 0);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.ui-treenode-label.ui-corner-all.ui-state-highlight,.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a
	{
	background: rgb(48, 48, 48);
	color: rgb(255, 102, 0);
}

.ui-treenode-label.ui-corner-all.ui-state-highlight {
	background: rgb(48, 48, 48);
	color: rgb(255, 102, 0);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}